
@import "bourbon";

h1 {
  color: #42b983;
}

.red {
  color: red;
}

.list {
  width: 50%;
  min-width: 300px;
  font-size: 1rem;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.list .item:not(.active) {
  color: gray;
  a {
    color: #aca !important;
  }
}

.list .item.active a {
  text-decoration: underline !important;
}

.list .item input{
  margin-right: 5px;
}

.right.bar {
  $w: 10px;
  $w1: 1vmax;
  $t: 0;
  position: fixed;
    z-index: 9998;
  top: $t;
  left: 0;
  //right: 0;
  bottom: 0;
  width: $w;
  width: $w1;
  border-right: 1px solid green;
  background-color: green;
  @include background-image(linear-gradient(red, yellow, green));
  .door {
    position: fixed;
    z-index: 9999;
    top: $t;
    background-color: white;
    width: $w;
    width: $w1;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-radius: 0 0 3px 3px;
    @include transition(bottom 0.5s ease); 
  }
}

p.choice {
  font-size: 1rem;
  input {
    margin-left: 10px;
    margin-right: 3px;
    position: relative;
    top: -1px;
  }
}

i.icon, i.icon::before {
  text-decoration: none;
}

i.chevron.right.icon {
  @include animation(dada 1s ease 3);
}

@include keyframes(dada) {
  0% {position: relative; left: 0}
  50% {position: relative; left: 0.25em}
  100% {position: relative; left: 0}
}